/* Snake.module.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  background: #1e1e1e; /* Dark gray background */
  font-family: 'Press Start 2P', cursive;
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column; /* Stack sections vertically */
  align-items: center; /* Center content horizontally */
  min-height: 100vh; /* Ensure the content fills the viewport */
  color: white;
}

/* Snake Game */
.playArea {
  border: 8px solid white; /* White border around the canvas */
  background: #f1e0cc;
  height: 35vh; /* Adjusted height to fit the viewport */
  width: 100%; /* Full width */
  max-width: 800px; /* Limit maximum width */
  margin-top: 20px; /* Add space between sections */
}

/* Hidden fruit image */
#fruit {
  display: none;
}

/* Game Over message */
.gameOver {
  color: white;
}

/* Play buttons */
.playButton {
  margin-top: 10px; /* Add space between buttons and canvas */
  background: #502c7b;
  border: 2px solid white;
  padding: 10px;
  font-size: 0.9em;
  color: white;
  box-shadow: 4px 4px 0px 0px white;
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  text-transform: uppercase;
}

/* Score box */
.scoreBox {
  margin: 10px;
  --webkit-box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
}

h2 {
  font-size: 18px;
  padding: 10px;
}

/* Center the game area */
.play-area-inner {
  border: 2px solid gray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
